@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
}
h3 {
    color: #666;
    margin-bottom: 20px;
}
.container {
    padding: 10px;
    max-width: 760px;
}
.tabs {
    display: flex;
    list-style: none;
    background-color: #eee;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.tabs-list {
    
}
.tabs-list.active {
    
}

.tabs-link {
    display: block;
    padding: 10px 40px;
    margin-bottom: -1px;
    cursor: pointer;
    text-decoration: none;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
}
.tabs-link.active {
    border: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #fff;
    /* animation: fadeIn 0.3s; */
}


.tabs-body {
    padding: 20px;
    border: 1px solid #ccc;
    animation: fadeIn 0.5s;
}
.tabs-body.hidden {
    display: none;
}
.tabs-body ul {
    margin-left: 20px;
}
.tabs-body a {
    display: block;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

@media only screen and (max-width: 576px) {
    .tabs-link {
        padding: 10px 10px;
        text-align: center;
        
    }
}